html{
    box-sizing:border-box;
    background: black;
    font-family: 'helvetica neue';
    font-size: 20px;
    font-weight:200;
}

body {
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    background-color:black;
    
    }
*, *:before, *:after {
    box-sizing: inherit;
}
header{
    margin: 1px 0 0;
    background-color: #333;
    padding: 1px;
    width: 100%;
    text-align: center;
}
/* 
 ============ NAVBAR ============
*/
.navbar {
    margin: 1px 0 0;
    overflow: hidden;
    background-color:black;
    position:inherit;
    top: 0;
    left: 0;
    right: 0;
   }


.button-home {
    float: left;
    display: block;
    color: #f2f2f2;
    width: 33.33%;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    font-size: 17px;
    }

.button-work {
    float: left;
    display: block;
    width: 33.33%;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    font-size: 17px;
    
}
.button-about {
    float: left;
    display: block;
    width: 33.33%;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    font-size: 17px;
    
}
.active, .a:hover{
    background-color: #C22B2B;
    color: white;
}

.navbar a:hover {
   
    background-color:#f2f2f2;
    color: black;
}
.sticky{
    position:fixed;
    top: 0;
    width: 100%;

}

.sticky + .content{
    padding-top: 60px;
}

/* 
 ============ NAVBAR ============
*/

/* 
 ============ INDEX ============
*/


.content {
    position:center;
    display: block;
    overflow: hidden;
    padding: 50px;
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 100px;
    width: 1200px;
    height: auto;
    border: 2px solid black;
}

/* 
 ============ INDEX ============
*/
/* 
 ============ WORK ============
*/
.work {
    background-color:black;
    position:center;
    display: block;
    overflow: hidden;
    margin-top: 50px;
    margin-bottom: 100px;
    width: 100%;
    height: auto;
}




.panels {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
}
.panel {
    background:#6B0f9c;
    box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.1);
    color: white;
    text-align:center;
    align-items:center;
    /* Safari transitioned event.propertyName === flex*/
    /* Chrome + FF transitioned event.propertyName === flex-grow*/
    transition:
        font-size 0.7s cubic-bezier(0.61,-0.19,0.7,-0.11),
        flex 0.7s cubic-bezier(0.61,-0.19,0.7,-0.11),
        background 0.2s;
    font-size: 20px;
    background-size: cover;
    background-position:center;
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.panel1 {background-image:url(https://bit.ly/2QznieF)}
.panel2 {background-image:url(https://bit.ly/2Phru2x)}
.panel3 {background-image:url(https://bit.ly/2Pd1oxE)}

/* Flex Children */

.panel > *{
    margin:0;
    width: 100%;
    transition:transform 0.5s;
    flex: 1 0 auto;
    display:flex;
    justify-content: center;
    align-items: center;
}
.panel > *:first-child {transform:translateY(-100%);}
.panel.open-active > *:first-child {transform:translateY(0);}
.panel > *:last-child {transform:translateY(+100%);}
.panel.open-active > *:last-child {transform:translateY(0);}

.panel p {
    text-transform: uppercase;
    font-family: 'Anatic SC', cursive;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
    font-size: 2em;
}
.panel p:nth-child(2){
    font-size:4em;
}

.panel.open {
    flex: 5;
    font-size:40px;
}
/* 
 ============ WORK ============
*/


/* 
 ============ FOOTER ============
*/

footer {
    overflow: hidden;
    display: block;
    background-color: #333;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
    }

footer p {
    float: left;
    color: #f2f2f2;
    text-align: left;
    padding: 1px 16px;
    text-decoration: none;
    font-size: 17px;
    
}

footer a {
    float: right;
    color: #f2f2f2;
    text-align: right;
    padding: 16px 18px;
    text-decoration: none;
    font-size: 17px;
}

/* 
 ============ FOOTER ============
*/

::-webkit-scrollbar {
    display: none;
    }